<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
       <link rel="stylesheet" type="text/css" href="E:\New folder\apartment\apartment.css">
  </head>
  <body>
    <div class="bg-image"></div>
    <div class="form">
      <div class="form1">
      <h1 class="apartment">Apartment Database</h1>
      <p>Welcome to the Apartment,</p>
        <p>Log in with your credentials.</p>
        <h1 class="Log">Admin Log in</h1>
        <form action="E://New folder//apartment//Admin.html">
          <input type="text" placeholder="User name"><br><br>
          <input type="text" placeholder="password"><br><br>
          <input type="submit" class="submit" onclick="window.alert('Log in Successful')">
          <button type="submit" class="button">Forgot Password</button><br><br>
          <button type="submit" class="button2" formaction="login.html">Tenant</button><br><br><br>
          <button type="submit" class="button2" formaction="guardLogin.html">Guard</button>
            </form>
      </div>
       </div>
  </body>
</html>
