<html ang="en" dir="ltr">
<head>
    <meta charset="utf-8">
         <link rel="stylesheet" type="text/css" href="\profile.css">
         <title>Guard Profile</title>
  </head>
  <body>
   <div class="column">
     <h1 align="center">Guard</h1>
     <h2 class="p">Name</h2>
       <h3>Basic</h3>
     <p class="p">Salary</p>
     <p class="p">Gate</p>
     <p class="p">D.o.b</p>
     <p class="p">Gender</p>
     <p class="p">Address</p>
     <p class="p">Work hour</p>
     <p class="p">Religion</p>
     <p class="p">Nationality</p>
     <hr>
     <h3>Contact info</h3>
     <p class="p">Number</p>
     <p class="p">Email</p>
   </div>
  </body>
  </html>
