<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Create Account</title>
     <link rel="stylesheet" type="text/css" href="\account.css">
</head>
<body>
          <h1>Let's get started</h1>
  <div class="formG">
    <div class="form1G">
      <h2>Personal</h2>
      <form action="E://New folder//apartment//myprofile.html">
        <label for="FirstName"><strong>Name</strong></label>
        <input type="text" placeholder="First name" id="FirstName">
        <input type="text" placeholder="Last name" id="FirstName"><br>
        <label for="Number"><strong>Phone number</strong></label>
        <input type="text" placeholder="Phone number" id="Number"><br>
        <label for="Dob"><strong>D.O.B</strong></label>
        <input type="date" placeholder="D.O.B" id="Dob"><br>
        <label for="gender"><strong>Gender</strong></label>
       <select name="gender">
         <option value="Male">Male</option>
         <option value="Female">Female</option>
         <option value="TransGender">TransGender</option>
       </select><br>
       <label for="Salary"><strong>Salary</strong></label>
       <input type="text" placeholder="Salary" id="Salary"><br>
       <label for="Adhaar"><strong>Adhaar Number</strong></label>
       <input type="text" placeholder="Adhaar Number" id="Adhaar"><br>
       <label for="address"><strong>Address</strong></label>
       <input type="text" placeholder="Address" id="Address"><br>
       <label for="Nationality"><strong>Nationality</strong></label>
       <input type="text" placeholder="Nationality" id="Nationality"><br>
       <label for="Religion"><strong>Religion</strong></label>
       <input type="text" placeholder="Religion" id="Religion"><br>
       <label for="Gate"><strong>Gate</strong></label>
       <input type="text" placeholder="Gate" if="Gate"><br>
       <label for="Password"><strong>Password</strong></label>
      <input type="text" placeholder="Password" id="Password">
      <input type="text" placeholder="Confirm Password" id="Confirm Password"><br>
      <a type="submit" class="button"  onclick="location.href='/guardLogin'">Sign Up</a>
      </form>
</div>
</div>
</body>
</html>
