<!DOCTYPE html>
<html ang="en" dir="ltr">
<head>
    <meta charset="utf-8">
         <link rel="stylesheet" type="text/css" href="E:\New folder\apartment\profile.css">
  </head>
  <body>

  <div class="row" style="margin-top:4%">
    <div class="column1">
      <div class="column1T">
          <img id=""><p>your image</p>
      </div>
    </div>
    <div class="column2">
      <h1 align="center">Guard</h1>
      <h2 class="p">Name</h2>
        <h3>Basic</h3>
      <p class="p">Salary</p>
      <p class="p">Gate</p>
      <p class="p">D.o.b</p>
      <p class="p">Gender</p>
      <p class="p">Address</p>
      <p class="p">Work hour</p>
      <hr>
      <h3>Contact info</h3>
      <p class="p">Number</p>
      <p class="p">Email</p>
             <button type="submit" class="gButton" formaction="E://New folder//apartment//event.html" onclick="window.alert('Log out Successful')">Log out</button>
    </div>

    <div class="column3">
           <h2>Add visitor</h2>
           <label for="name">Name</label>
           <input type="text" placeholder="Name" id="name"><br>
           <label for="number">Number</label>
           <input type="text" placeholder="Number" id="number"><br>
           <label for="email">Email</label>
           <input type="text" placeholder="Email" id="email"><br>
           <label for="roomNo">Room number</label>
           <input type="text" placeholder="Room number" id="roomNo">
           <select name="Block" class="myselect2">
             <option value="A">A</option>
             <option value="B">B</option>
             <option value="C">C</option>
           </select><br>
           <label for="date">Date</label>
           <input type="date" id="date"><br>
           <label for="purpose">Purpose</label>
           <input type="text" placeholder="Purpose" id="purpose"><br>
           <label for="Etime">Entry Time</label>
           <input type="time" placeholder="Time" id="Etime"><br>
           <label for="Extime">Exit Time</label>
           <input type="time" placeholder="Time" id="Extime"><br><br>
             <button type="submit" class="gButton">Add Visitor</button>

    </div>
    </div>
  </body>
</html>
