

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
       <link rel="stylesheet" type="text/css" href='apartment.css'/>
  </head>
  <body>
    <form action="/" method="post">
    <div class="bg-image"></div>
    <div class="form">
      <div class="form1">
      <h1 class="apartment">Apartment Database</h1>
      <p>Welcome to the Apartment,</p>
        <p>Log in with your credentials or create a new account.</p>
        <h1 class="Log">Log in</h1>
        
          <p>Don't have an account?Ask the admin to create one</p>
          <input type="text"  name="username" placeholder="User Id"><br><br>
          <input type="password"  name="password" placeholder="password"><br><br>
          <button type="submit" class="submit" > Submit</button>
          <button type="submit" class="button">Forgot Password</button><br><br><br>
           <a type="submit" class="button2"  onclick="location.href='/adminLogin'">admin</a>
          <a type="submit" class="button3" onclick="location.href='/guardLogin'">Guard</a>
            </form>
      </div>
       </div>
  </body>
</html>
