<!DOCTYPE html>
<html ang="en" dir="ltr">
<head>
    <meta charset="utf-8">
         <link rel="stylesheet" type="text/css" href="E:\New folder\apartment\profile.css">
  </head>
  <body>
<div class="out">
  <form>
    <button type="submit" class="button" formaction="E:\New folder\apartment\GuardProfile.html">Guard</button>
    <button type="submit" class="button" formaction="E:\New folder\apartment\visitor.html">Visitors</button>
    <button type="submit" class="button">Bills</button>
    <button type="submit" class="button" formaction="E://New folder//apartment//TenantUpdate.html">Settings</button>
      <button type="submit" class="button"  formaction="E://New folder//apartment//event.html">Create Event</button>
             <button type="submit" class="button" formaction="E://New folder//apartment//event.html"  onclick="window.alert('Log out Successful')">Log out</button>
  </form>
  </div><br><br><br>


  <div class="row">
    <div class="column1">
      <div class="column1T">
          <img id=""><p>your image</p>
      </div>
      <div class="column1B">
       <h2 class="one">Upcoming Events</h2><br>
       <p>Select Date <input type="date"></p>
       <p>Event Name</p>
       <p>Venue</p>
       <p>Time</p>
      </div>
    </div>

    <div class="column2">
      <h2 class="p">About</h2>
        <h3>Name</h3>
      <p class="p">Room number</p>
      <p class="p">Block</p>
      <p class="p">D.o.b</p>
      <p class="p">Gender</p>
      <p class="p">Religion</p>
      <p class="p">Nationality</p>
      <hr>
      <h3>Contact info</h3>
      <p class="p">Number</p>
      <p class="p">Email</p>

    </div>

    <div class="column3">
      <div class="column3T">
      <form>
           <h2>Complaint Area</h2>
           <label for="name">Name</label>
           <input type="text" placeholder="Name" id="name"><br>
           <label for="number">Number</label>
           <input type="text" placeholder="Number" id="number"><br>
           <label for="email">Email</label>
           <input type="text" placeholder="Email" id="email"><br>
      </form>
    </div>
    <div class="column3B">
      <textarea class="text" placeholder="Write something..."></textarea>
      <button type="submit" class="problem_box"><strong>Submit</strong></button>
    </div>
  </div>
    </div>
  </body>
</html>
