<!DOCTYPE html>
<html ang="en" dir="ltr">
<head>
    <meta charset="utf-8">
         <link rel="stylesheet" type="text/css" href="profile.css">
  </head>
  <body>
<div class="out">
  <form>
    <a type="submit" class="button" onclick="location.href='/Gurad'">Guard</a>
    <a type="submit" class="button" onclick="location.href='/visitor'">Visitors</a>
      <a type="submit" class="button"  onclick="location.href='/event'">Create Event</a>
      <a type="submit" class="button" onclick="location.href='/'">Log out</a>
  </form>
  </div><br><br><br>


  <div class="row">
    <div class="column1">
      <div class="column1T">
          <img id=""><p>your image</p>
      </div>
      <div class="column1B">
       <h2 class="one">Upcoming Events</h2><br>
       <p>Select Date <input type="date"></p>
       <p>Event Name</p>
       <p>Venue</p>
       <p>Time</p>
      </div>
    </div>

    <div class="column2">
      <h2 class="p">About</h2>
        <h3>Name</h3>
      <p class="p">Room number</p>
      <p class="p">Block</p>
      <p class="p">D.o.b</p>
      <p class="p">Gender</p>
      <p class="p">Religion</p>
      <p class="p">Nationality</p>
      <hr>
      <h3>Contact info</h3>
      <p class="p">Number</p>
      <p class="p">Email</p>

    </div>

    <div class="column3">
      <div class="column3T">
      <form>
           <h2>Complaint Area</h2>
           <label for="name">Name</label>
           <input type="text" placeholder="Name" id="name"><br>
           <label for="number">Number</label>
           <input type="text" placeholder="Number" id="number"><br>
           <label for="email">Email</label>
           <input type="text" placeholder="Email" id="email"><br>
      </form>
    </div>
    <div class="column3B">
      <textarea class="text" placeholder="Write something..."></textarea>
      <a type="submit" class="problem_box" onclick="location.href='/myprofile'"><strong>Submit</strong></a>
    </div>
  </div>
    </div>
  </body>
</html>
