<!DOCTYPE html>
<html ang="en" dir="ltr">
<head>
    <meta charset="utf-8">
         <link rel="stylesheet" type="text/css" href="\profile.css">
  </head>
  <body>

    <div class="column">
      <img id=""><p>your image</p><br><br><br>
        <h2 class="p">Name</h2>
        <h3>Basic</h3>
      <p class="p">Room number</p>
      <p class="p">Block</p>
      <p class="p">D.o.b</p>
      <p class="p">Gender</p>
      <p class="p">Religion</p>
      <p class="p">Nationality</p>
      <hr>
      <h3>Contact info</h3>
      <p class="p">Number</p>
      <p class="p">Email</p>

    </div>
</html>
