  </<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
         <link rel="stylesheet" type="text/css" href="E:\New folder\apartment\profile.css">
      <title>Update</title>
    </head>
    <body>
          <div class="columnTenant">
            <p class="tenant">Update any of the field</p>
            <hr>
            <label for="Number" class="labelT"><strong>Phone number</strong></label>
            <input type="text" class ="Tenant" placeholder="Phone number" id="Number"><br>
            <label for="Password" class="labelT"><strong>Password</strong></label>
            <input type="text"  class ="Tenant"  placeholder="Password" id="Password">
            <input type="text"  class ="Tenant"  placeholder="Confirm Password" id="Confirm Password"><br>
            <label for="Email" class="labelT"><strong>Email</strong></label>
            <input type="text"  class ="Tenant"  placeholder="Email" id="Email"><br><br>
            <button type="submit" class="tButton"  onclick="window.alert('Updated Successfully')">Update</button>
    </body>
  </html>
