<!DOCTYPE html>
<html ang="en" dir="ltr">
<head>
    <meta charset="utf-8">
         <link rel="stylesheet" type="text/css" href="\profile.css">
  </head>
  <body>

    <div class="column">
      <img id=""><p>your image</p><br><br><br>
        <h2 class="p">Name</h2>
        <p class="p">Date</p>
      <p class="p">Entry time</p>
      <p class="p">Exit time</p>
      <p class="p">Purpose</p>
      <hr>
      <h3>Contact info</h3>
      <p class="p">Number</p>
      <p class="p">Email</p><br>
       <p class="p">Sort by</p>  
      <select class="visitors" id="sort">
        <option value="Date">Date</option>
        <option value="Name">Name</option>
    </div>

</body>
</html>
